<a href="https://colab.research.google.com/github/vineet1947/general_code-_files-/blob/main/challenge_)_01_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Challenge-1

def fun(a) :
  return a + 1 


fun(100)

101

In [3]:
#Challenge-2

def sec(a) : 
  return int(a*60)

sec(5) ,sec(3) ,sec(2)

(300, 180, 120)

In [9]:
#Challenge-3 

def tri(h,  b) :
  return  "the area is  :  "  + str( (h*b)/2 )


tri(10 , 20)

'the area is  :  100.0'

In [14]:
#Challenge-4 

def next_edge(a,  b) :
  return  a+b-1 


next_edge( 8 , 10 ) , next_edge( 5 , 7 )  , next_edge( 9 , 2 )

(17, 11, 10)

In [20]:
#Challenge-5 

def rem(a, b ) :
  try :
    return a %b 
  except ZeroDivisionError : 
    return  "Zero divide Error" 


rem(5,  0) , rem(7 ,2) ,rem(10, 4 )

('Zero divide Error', 1, 2)

In [22]:
# Challenge-5

def calc_age(a) : 
  return a*365

calc_age(65) , calc_age(20)

(23725, 7300)

In [24]:
# Challenge-6

def circuit_power(a,  b) :
  return a*b 

circuit_power(230  , 10)

2300

In [25]:
# Challenge-7

def squared(a) :
  return a*a

In [26]:
# Challenge-8

def wins(a,  b  ,c) :
  return a*3 + b 

wins(3,4,2) , wins( 5, 0 ,2)

(13, 15)

In [27]:
# Challenge-9

def legs(c ,co ,p) : 
  return c*2 + (p +co)*4 


legs(2,3,5)

36

In [30]:
#Challenge - 10 

def total_amount_adjectives(dit) :
  return len(dit)


total_amount_adjectives({ "a": "moron" })  , total_amount_adjectives({ "a": "idiot", "b": "idiot", "c": "idiot" }) , total_amount_adjectives({ "a": "moron", "b": "scumbag", "c": "moron", "d": "dirtbag" })

(1, 3, 4)

In [31]:
# Challenge-11 

def points(a, b ) :
  return a*2 + b*3 

points(1,1) , points(7 , 5)

(5, 29)

In [32]:
#Challenge-12

def diff(lst) :
  return max(lst)  - min(lst) 


diff([10, 20, 30, 40, 100])

90

In [38]:
#Challenge-13 

def concat(a , b ) :
  return a + b


concat([1, 3, 5], [2, 6, 8]) , concat([7, 8], [10, 9, 1, 1, 2]) ,   concat([4, 5, 1], [3, 3, 3, 3, 3])

([1, 3, 5, 2, 6, 8], [7, 8, 10, 9, 1, 1, 2], [4, 5, 1, 3, 3, 3, 3, 3])